.navbar {
    width: 100%;
    min-height: 4.3rem;
    display: flex;
    background: #4E148C;
    color: #ffff;
    padding: 0 2.5rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

.leftNavList a.active{
    color: #FF9B21;
}

.rightNavList *.active{
    color: #FF9B21;
}

.logo{
    display: flex;
    align-items: center;
    margin-right: 5vw;
    font-size: 1.7rem;
    font-weight: bold;
    font-family: monospace;
}

.logo:hover{
    cursor: pointer;
    color: #FF9B21;
}

 .menuOpen{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

 .menuClose{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.leftNavList{
    display: flex;
    align-items: center;
    gap: 5vw;
    font-weight: 500;
}

.leftNavList a:hover{
    cursor: pointer;
    color: #FF9B21;
}

.rightNavList{
    display: flex;
    align-items: center;
    gap: 5vw;
}

.menuIcon {
    position: absolute;
    right: 1.4rem;
    display: none;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.wishlist{
    position: relative;
    width: 1.7rem;
    height: 1.7rem;
}

.wishlistLength{
   position: absolute;
   background-color: #FF9B21;
   color: #ffff;
   border-radius: 50%;
   height: 1.3rem;
   width: 1.3rem;
   z-index: 10;
   text-align: center;
   top: 4px;
   margin-left: 14px;
}

.wishlist:hover{
    cursor: pointer;
    color: #FF9B21;
}

.cart{
    position: relative;
    width: 1.9rem;
    height: 1.9rem;
}

.cartLength{
    position: absolute;
    background-color: #FF9B21;
    color: #ffff;
    border-radius: 50%;
    height: 1.3rem;
    width: 1.3rem;
    z-index: 10;
    text-align: center;
    top: 4px;
    margin-left: 14px;
 }
 

.cart:hover{
    cursor: pointer;
    color: #FF9B21;
}

@media screen and (max-width: 767px) {
  .navbar{
    padding: 0.5rem 1rem;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 5vh;
  }

  .leftNavList{
    gap: 0.5rem;
    flex-direction: column;
}

  .rightNavList{
    margin-top: 0.5rem;
    gap: 0.5rem;
    flex-direction: column;
}  


  .menuIcon {
    display: block;
    margin-top: 1vh;
  }

  .menuOpen{
    display: block;
  }
  
  .menuClose{
    display: none;
  }

  .wishlistLength{
    top: 8.6rem;
  }

  .cartLength{
    top: 11rem;
  }

}

@media screen and (max-width: 350px) {
    .logo{
        font-size: 1.1rem;
    }

    .menuIcon{
        font-size: 1.2rem;
    }

    .leftNavList{
        gap: 1vw;
    }

    .wishlistLength{
        top: 7rem;
      }
    
      .cartLength{
        top: 9.5rem;
      }
    
}